.more-content-btn {
  position: fixed;
  left: 0;
  border-radius: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.card-hover:hover {
  border: 1px solid #696cff;
}

.no-data img{
  width: 250px;
}